#local-db
/project_db/localdb/
env-secret.yml
service-account.json

# misc
.DS_Store
.env.local

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# dotenv environment variables file
.env
